version: "3.8"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserverHM
    restart: always
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P YourStrong!Passw0rd -Q 'SELECT 1' || exit 1" ]
      interval: 10s
      retries: 5
      start_period: 10s
  
  db_init:
    image: mcr.microsoft.com/mssql/server:2022-latest
    depends_on:
      sqlserver:
        condition: service_healthy
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        /opt/mssql-tools/bin/sqlcmd -S sqlserver -U sa -P YourStrong!Passw0rd -d master -Q "
        CREATE DATABASE healthmed;
        go
        USE [healthmed];
        go
        CREATE TABLE Medicos (
          Id INT PRIMARY KEY IDENTITY,
          Nome NVARCHAR(100) NULL,
          Email NVARCHAR(100) UNIQUE NULL,
          Senha NVARCHAR(255) NOT NULL,
          CRM INT NOT NULL
        );
        go
        CREATE TABLE Pacientes (
          Id INT PRIMARY KEY IDENTITY,
          Nome NVARCHAR(100) NULL,
          Email NVARCHAR(100) UNIQUE NOT NULL,
          Senha NVARCHAR(255) NOT NULL,
          CPF NVARCHAR(11) NOT NULL
        );
        go
        CREATE TABLE Consultas (
          Id INT PRIMARY KEY IDENTITY,
          MedicoId INT NOT NULL,
          PacienteId INT NOT NULL,
          DataHora DATETIME NOT NULL,
          Status NVARCHAR(50) NOT NULL,
          FOREIGN KEY (MedicoId) REFERENCES Medicos(Id),
          FOREIGN KEY (PacienteId) REFERENCES Pacientes(Id)
        );
        go
        CREATE TABLE HorariosDisponiveis (
          Id INT PRIMARY KEY IDENTITY,
          MedicoId INT NOT NULL,
          DataHora DATETIME NOT NULL,
          Disponivel BIT NOT NULL,
          FOREIGN KEY (MedicoId) REFERENCES Medicos(Id)
        );"
volumes:
  sqlserver_data:
